body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  /*background-image: url('avatar.jpg');
  opacity:0.2;*/
}

.chat-window {
	width: 80%;
	max-width: 800px;
	height: 80vh;
	background-color: #fff;
	margin: 50px auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.chat-header {
	background-color: pink;
	padding: 20px;
	text-align: center;
}

.chat-header h1 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
  color: white;
}

.chatHistory {
	padding: 20px;
	flex-grow: 1;
	overflow-y: scroll;
}

.chat-history p {
	margin: 0 0 10px;
}

.chat-input {
	padding: 20px;
	display: flex;
}

.chat-input input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.chat-input button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #008CBA;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
}
/* Thêm animation cho nút Gửi */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fa-spinner {
  animation: spin 1s linear infinite;
  }


.chat-input button.loading {
  animation: spin 1s linear infinite;
}

/* Thêm avatar cho người dùng */
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ddd;
  background-image: url('avatar.jpg');
  background-size: cover;
  background-position: center center;
}

/* Thêm avatar cho máy chủ */
.ai-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ddd;
  background-image: url('avatar.jpg');
  background-size: cover;
  background-position: center center;
  }

